# python
__pycache__
src/brest/__version__.py

# python wheel
build
dist
*.pyc
*.egg-info
*.whl

# sphinx docs
docs/_build

# vs code
.vs
.vscode/

# vs code python extensions
.pylintrc

# misc
test.py

venv
venv_39
log

# python virtual environment
.venv
