/*
Brest overrides for html documentation

@version: 0.0.10

@copyright: 2020 Bender Robotics

*/

@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

body {
    font-family: 'Noto Serif', serif;
}